<div id="<%= dom_id module_plan %>">
  <p>
    <strong>Moduule:</strong>
    <%= module_plan.moduule_id %>
  </p>

  <p>
    <strong>Training plan:</strong>
    <%= module_plan.training_plan_id %>
  </p>

</div>
