<div id="<%= dom_id tutorial_module_course %>">
  <p>
    <strong>Moduule:</strong>
    <%= tutorial_module_course.moduule_id %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%= tutorial_module_course.tutor_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= tutorial_module_course.course_id %>
  </p>

</div>
