<h1>New tutorial module course</h1>

<%= render "form", tutorial_module_course: @tutorial_module_course %>

<br>

<div>
  <%= link_to "Back to tutorial module courses", tutorial_module_courses_path %>
</div>
