<div class="container text-center">

    <h1 class="text-center">Regiones</h1>

    <table class="table table-bordered border-dark">
        <thead>
            <tr class="inline-block">
                <th>ID Region</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <% @regions.each do |region| %>
                <tr>
                    <td><%= region.id %></td>
                    <td><%= region.name %></td>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>